.tingle-modal:before{
    backdrop-filter: blur(4px);
}

.tingle-modal{
    background: rgb(0 0 0 / 31%);
}

.app-modal .tingle-modal-box__content{
    padding-bottom: 1rem;
}

.app-modal h1{
    font-size: 1.6rem;;
}

.tingle-modal .slogan:first-child{
    font-weight: bold;
    font-size: 1.3rem;
}
.tingle-modal .and{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.tingle-modal .slogan:last-child{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.3rem;
}