.bg-secondary {
    background: #a1c1da24!important;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section .disponibilite{
    position: absolute;
    margin-top: -55px;
    background: white;
    
    border-radius: 0 10px 0 0;
    padding: 5px 10px;
}
.section .disponibilite .etat{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    line-height: 10px;
}
.disponible .etat{
    background-color: green;
}
.disponibilite.disponible{
    color:green;
}
.reserve .etat{
    background-color: orange;
}
.disponibilite.reserve{
    color:orange;
}
.adopte .etat{
    background-color: red;
}
.disponibilite.adopte{
    color:red;
}

.single .c-datedenaissance{
    opacity: 0.6;
    font-size: 90%;
}

.fiche{
    float: right;
    background-color: #f4f4f4;
    padding: 15px 30px;
    min-width: 200px;
    margin-left: 20px;
}
.fiche ul{
    list-style-type: initial;
}
.fiche .critere div{
    margin-bottom:0;
}
.fiche ul li{
    margin-bottom:5px;
}
.fiche .critere, .fiche ul{
    margin-bottom:10px;
}
.fiche .cvalue{
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .fiche{
        display: inline-block;
        width: 100%;
        float: auto;
    }
  }