<footer class="bg-secondary">
  <div class="section">
    <div class="container">
      <div class="row items">
        <!--div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <a href="{{.Site.BaseURL}}"><img src="{{.Site.Params.logo | absURL }}" alt="{{.Site.Title}}" class="img-fluid"></a>
        </div-->
        <!--div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Address</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">{{.Site.Params.address | markdownify }}</li>
          </ul>
        </div-->

        
        <div class="item fb-page" data-href="{{.Site.Params.facebookPage}}" data-tabs="journal"
          data-width="" data-height="200" data-small-header="false" data-adapt-container-width="true"
          data-hide-cover="false" data-show-facepile="false">
          <blockquote cite="{{.Site.Params.facebookPage}}" class="fb-xfbml-parse-ignore"><a
              href="{{.Site.Params.facebookPage}}">Ici-drive</a></blockquote>
        </div>
        <div class="item partner">
          <h6>Partenaires</h6>
          <div class="partners">
            {{ range .Site.Data.partners.entries }}
              <a href="{{.url}}" target="_blank" class="partner">
                <img src="{{.image | absURL}}" alt="{{.alt}}"/>
              </a>
            {{ end }}
          </div>

        </div>
        <div class="sociaux col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6></h6>
          <ul class="list-inline d-inline-block">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .URL }}" class="text-dark"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pb-3">
    <p class="mb-0">{{ .Site.Params.copyright | markdownify }}, <a href="{{.Site.Params.contactUrl}}">nous
        contacter</a>, <a href="{{ .Site.Params.mentionsURL }}" class="">mentions légales</a></p>
  </div>
</footer>


{{ if .Site.Params.search }}
<script>
  var indexURL = {{ "index.json" | absURL }}
</script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ . }}');
</script>
{{ end }}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0"
  nonce="OTfrEtXO"></script>


<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register('/my-sw.js', {
        scope: '/'
      })
      .then(() => console.log('sw registered'))
      .catch(e => console.error(e));
  }
</script>

{{ if .Site.Params.mainModal }}
<script src="/tingle/tingle.min.js"></script>
<script src="/js/theme.js"></script>
{{ end }}